@charset "utf-8";
/* CSS for Local Places Module */
body.page-local-places div.results {
  width: 30%;
  float: left;
  padding-right: 10px;
}
body.page-local-places div.map {
  width: 65%;
  float: left;
  display: inline-block;
}
body.page-local-places div.place {
  clear: both;
}
body.page-local-places img.icon {
  padding-right: 5px;
}
body.page-local-places div.details-map {
  float: right;
  display: inline-block;
}
body.page-local-places div.details {
  float: left;
  display: inline-block;
}
body.page-local-places ul.details {
  margin-left: 70px;
}
body.page-local-places h3.local-places {
  margin-bottom: 0px;
}
